*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark_blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
    --dim-red: hsla(0, 61%, 52%, 0.568);
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #fff;
    background-color: var(--red);
    background-image: url("images/bg-intro-mobile.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    padding: 0;
}

/* ? Common Classes */

.main {
    width: 85%;
    margin: 20% auto;
    max-width: 1200px;
}

.border--radius {
    border-radius: 10px;
}

.shadow {
    box-shadow: 0 12px 2px -4px var(--dim-red);
}

.blue--border:focus {
    border: 2px solid var(--blue);
}

/* ? Article-section */

.main__article {
    text-align: center;
    margin-bottom: 3.5rem;
}

.article__text {
    font-size: .85rem;
}

/* ? Aside-section */

.aside__trial {
    text-align: center;
    width: 100%;
    padding: 1em 2em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.9;
    color: #fff;
    background-color: var(--blue);
}

.light {
    font-weight: 100;
    color: var(--grayish-blue);
}

.hide {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    color: var(--red);
    font-size: .7rem;
    font-style: italic;
    font-weight: 700;
    text-align: right;
}

.aside__form {
    padding: 1.5rem 2rem;
    margin-top: 2rem;
    background-color: #fff;
}

.aside__form input,
.form__trial {
    width: 100%;
    padding: 1rem 0;
    border-radius: 5px;
    outline: 0;
}

.aside__form input {
    border: 1px solid var(--grayish-blue);
    text-indent: 6%;
}

input~input {
    margin-top: 1rem;
}

.aside__form input,
.aside__form input::-webkit-input-placeholder,
.form__trial {
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: var(--grayish-blue);
}

.aside__form input {
    color: var(--dark_blue);
}

.form__trial {
    margin-top: 1rem;
    font-weight: 400;
    color: #fff;
    background-color: var(--green);
    border: none;
    box-shadow: 0 4px hsl(154, 59%, 43%);
    cursor: pointer;
}

.form__trial:hover,
.form__trial:focus {
    opacity: .8;
}

.form__footer__text {
    text-align: center;
    font-size: .7rem;
    font-weight: 600;
    color: var(--grayish-blue);
}

.form__footer__text a {
    text-decoration: none;
    font-weight: 700;
    color: var(--red);
    border: none;
    outline: 0;
}

.form__footer__text a:focus {
    border: 2px dotted var(--blue);
}

/* ! Media queries */

/* ? Min-width === 720px */

@media (min-width: 720px) {

    body {
        background-image: url("images/bg-intro-desktop.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .main {
        margin: 5% auto;
    }

    .main__article {
        margin: 0;
        width: 40%;
        align-self: center;
        text-align: left;
    }

    .article__head {
        margin: 0;
        font-size: 2rem;
        line-height: 1.2;
    }

    .article__text {
        padding-top: .5rem;
    }

    .hide {
        font-size: .8rem;
    }

    .main__aside {
        width: 55%;
    }

    .aside__form {
        padding: 2.5rem 2.5rem;
    }
}


/* ? Min-width === 1440px */

@media (min-width: 1440px) {

    .main__article {
        width: 47%;
    }

    .article__head {
        font-size: 3.05rem;
        line-height: 1.1;
    }

    .article__text {
        font-size: 1rem;
        vertical-align: 0;
    }

    .main__aside {
        width: 48%;
    }

    input~input,
    .form__trial {
        margin-top: 1.2rem;
    }


}